<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="common/addModal">
</th:block>

<th:block th:replace="common/header">
</th:block>

<link rel="stylesheet" href="/css/chat/chat.css">

<script src="/js/chat/chat.js"></script>

    <section>
        <div class="chat-div">
            <ul class="chat-ul">
                <li class="user">

                </li>
                <li class="other">

                </li>
            </ul>
	       	<button type="button" class="btn" id="chatLeave" onclick="chatLeave();">나가기</button>
        </div>

        <div class="chat-send-div">
            <textarea name="" id="message" cols="150" rows="2"></textarea>
            <button type="button" class="btn btn-primary" id="chat-send">전송</button>
        </div>
    </section>
</body>
</html>

<th:block th:replace="common/addModal">
</th:block>

<script type="text/javascript">
//사용자 구분을 위한 memberId 상수 선언
var email = '[[${email}]]';
var name = '[[${name}]]';
var category = '[[${categoryMap.category}]]';
var chatName = name + "(" + email + ")";
var connect = false;
</script>
