<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="manager/header">
</th:block>

<link rel="stylesheet" href="/css/manager/commonCode.css">

<script src="/js/commonCode/commonCode.js"></script>

	<section>
		<nav class="nav flex-column"
			style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
			<a class="nav-link disabled" href="#">시스템</a>
			<hr>
			<a class="nav-link active" href="/commoncode/list">공통 코드 관리</a>
			<hr>
			<a class="nav-link disabled" href="#">근태</a>
			<hr>
			<a class="nav-link active " href="/attendance/list">근태 목록</a>
			<hr>
			<a class="nav-link disabled" href="#">직원</a>
			<hr>
			<a class="nav-link active" href="/employee/list">직원 목록</a>
			<hr>
			<a class="nav-link disabled" href="#">프로젝트</a>
            <hr>
			<a class="nav-link active" href="/project/list">프로젝트 목록</a>          
		</nav>

		<div class="common-code">
			<div class="code-div">
				<ul class="code-ul">
					<li>

						<figure>
							<figcaption>
								<p>공통 코드</p>
								<button type="button" class="add-btn btn btn-primary">추가</button>
							</figcaption>
						</figure>

						<table
							class="code-table table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th scope="col">코드</th>
									<th scope="col">코드명</th>
									<th scope="col">사용여부</th>
								</tr>
							</thead>
							<tbody>
								<tr class="commonCodeTr" th:each="map : ${commonCodeListMap}">
									<td th:text="${map.code}"></td>
									<td th:text="${map.codeName}"></td>
									<td th:text="${map.useAt}"></td>
								</tr>
								<tr class="commonCodeTr" th:if="${commonCodeListMap.size() == 0}">
									<td colspan="3" style="text-align: center" th:text="${emptyMsg}"></td>
								</tr>
							</tbody>
						</table>
						<nav aria-label="Page navigation example"
							style="margin-top: 35px;"
							th:utext="${pageBar}">
						</nav>
					</li>
					<li><i class="fas fa-chevron-right"></i></li>
					<li>
						<button type="button" class="btn btn-success commonCodeAddBtn"
							style="margin-left: 350px;">저장</button>
						<button type="button" class="btn btn-secondary deleteCommonCode">삭제</button>
						<form class="commonCodeForm">
							<table class="table table-bordered"
								style="width: 500px; margin-top: 100px; margin-right: 100px;">
								<tbody>
									<tr>
										<th scope="row" class="table-secondary">코드</th>
										<td class="table-light">
											<input type="text" name="code" id="code">
											<p class="form-text commonCodeHelp  help hide"> 중복된 코드입니다.</p>
										</td>
									</tr>
									<tr>
										<th scope="row" class="table-secondary">코드명</th>
										<td class="table-light">
											<input type="text" name="codeName" id="codeName" class="codeName">
										</td>
									</tr>
									<tr>
										<th scope="row" class="table-secondary">사용여부</th>
										<td class="table-light" style="display: flex;">
										<form action="" id="myForm">
											<div class="form-check">
												<input type="radio" class="form-check-input useAt useAtY" id="useAt_Y" name="useAt" value="Y">
												<label class="form-check-label" for="useAt_Y"> 예 </label>
											</div>
											<div class="form-check" style="padding-left: 50px;">
												<input type="radio" class="form-check-input useAt useAtN" id="useAt_N" name="useAt" value="N">
												<label class="form-check-label" for="useAt_N"> 아니요 </label>
											</div>
										</form>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
				
					</li>
				</ul>
			</div>
			<hr>
			<div class="code-div">
				<ul class="code-ul">
					<li>
						<figure>
							<figcaption>
								<p>공통 상세 코드</p>
								<button type="button" class="addDetailCode btn btn-primary">추가</button>
							</figcaption>
						</figure>
						<table
							class="code-table table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th scope="col">상세 코드</th>
									<th scope="col">상세 코드명</th>
									<th scope="col">사용여부</th>
									<th scope="col">순서</th>
								</tr>
							</thead>
							<tbody class="detailCodeTbody">
							</tbody>
						</table>
						<nav aria-label="Page navigation example"
							style="margin-top: 25px;"
							class="detailCodePageBar">
						</nav>
					</li>
					<li><i class="fas fa-chevron-right"></i></li>
					<li>
						<button type="button" class="btn btn-success detailCodeAdd" style="margin-left: 350px;">
							저장
						</button>
						<button type="button" class="btn btn-secondary deleteDetailCode">삭제</button>
						<table class="table table-bordered"
							style="width: 500px; margin-top: 100px; margin-right: 100px;">
							<tbody>
								<tr>
									<th scope="row" class="table-secondary">코드</th>
									<td class="table-light">
										<input type="text" class="commonCode" readonly="readonly">
									</td>
								</tr>
								<tr>
									<th scope="row" class="table-secondary">상세 코드</th>
									<td class="table-light">
										<input type="text" id="detailCode" name="detailCode" readonly="readonly">
										<p class="form-text detailCodeHelp help hide"> 중복된 코드입니다.</p>
									</td>
								</tr>
								<tr>
									<th scope="row" class="table-secondary">상세 코드명</th>
									<td class="table-light">
										<input type="text" id="detailCodeName" name="detailCodeName">
									</td>
								</tr>
								<tr>
								<th scope="row" class="table-secondary">순서</th>
									<td class="table-light" >
										<input type="number" min="0" id="sortOrdr" name="sortOrdr">
									</td>
								</tr>
								<tr>
									<th scope="row" class="table-secondary">사용여부</th>
									<td class="table-light" style="display: flex;">
										<div class="form-check">
											<input class="form-check-input detailCodeUseAt detailUseAtY" type="radio" name="detailCodeUseAt" id="detailCodeUseAtY" value="Y">
											<label class="form-check-label" for="detailCodeUseAtY"> 예 </label>
										</div>
										<div class="form-check" style="padding-left: 50px;">
											<input class="form-check-input detailCodeUseAt detailUseAtN" type="radio" name="detailCodeUseAt" id="detailCodeUseAtN" value="N">
											<label class="form-check-label" for="detailCodeUseAtN"> 아니요 </label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>
