<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="manager/header">
</th:block>

<th:block th:replace="common/toast">
</th:block>

<th:block th:replace="common/message">
</th:block>

<script src="/js/employee/employee.js"></script>

<link rel="stylesheet" href="/css/manager/attendance.css">
<link rel="stylesheet" href="/css/manager/employee.css">

    <section>
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link disabled" href="#">시스템</a>
            <hr>
            <a class="nav-link active" href="/commoncode/list">공통 코드 관리</a>
            <hr>
            <a class="nav-link disabled" href="#">근태</a>
            <hr>
            <a class="nav-link active " href="/attendance/list">근태 목록</a>
            <hr>
            <a class="nav-link disabled" href="#">직원</a>
            <hr>
            <a class="nav-link active" href="/employee/list">직원 목록</a>
            <hr>
			<a class="nav-link disabled" href="#">프로젝트</a>
            <hr>
			<a class="nav-link active" href="/project/list">프로젝트 목록</a>          
        </nav>


        <div class="card-div">
            <div id="titleDiv">
                <h3>
                    <i class="fas fa-users-cog"></i>
                    직원 목록
                </h3>
                <hr style="color: black; border: solid 1px black;">
            </div>
            <div class="card" th:each="member : ${memberList}">
                <div class="card-body" >
                    <ul class="card-ul" style="display: flex;">
                        <li><i class="fas fa-user-circle"></i></li>
                        <li style="width: 350px;" th:text="${member.email}"></li>
                        <li th:text="${member.name}"></li>
                        <li th:text="${member.departmentName}"></li>
                        <li th:text="${member.positionName}"></li> 
                        <li th:text="${member.esntlId}" style="display: none"></li> 
                        <li th:if="${member.quitAt == 'N'}">회원</li>
                        <li th:if="${member.quitAt == 'Y'}">탈퇴 회원</li>                 
                        <li><a th:if="${member.quitAt == 'N'}" href="#" class="btn btn-primary employeeUpdateBtn" onclick="clickPopup(this);" data-toggle="modal" data-target="#update-member-modal">수정</a></li>
                    </ul>
                </div>
            </div>
			<div class="card" th:if="${memberList.size() == 0}">
                <div class="card-body" >
                    <ul class="card-ul">
                        <li class="emptyMsg" th:text="${emptyMsg}"></li>
                    </ul>
                </div>
            </div>
            <nav aria-label="Page navigation example" th:utext="${pageBar}" style="margin-top: 50px;">
            </nav>
           </div>

        </div>
    </section>
    
    <!-- 수정 Modal -->
    <div class="modal fade" id="update-member-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
    
                <div class="modal-header">
                    <h5 class="modal-title" id="add-modal-label">직원 정보 수정</h5>
    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    
                </div>
    
                <div class="modal-body member-modal-body ">
                	<div class="mb-3">
                        <label for="esntlId" class="form-label">고유 아이디</label>
                        <input type="text" class="form-control" id="esntlId" name="esntlId" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="updateEmail" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="updateEmail" name="updateEmail" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="updateName" class="form-label">이름</label>
                        <input type="text" class="form-control" id="updateName" name="updateName" onchange="changeName();">
                        <div id="nameHelp" class="form-text help hide">올바른 이름이 아닙니다.</div>
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label">부서</label>
                        <select class="custom-select" id="department" name="department">
                     		<option class="departmentNameOption" th:each="department: ${departmentList}" th:value="${department.detailCode}" th:utext="${department.detailCodeName}"></option>
                     	</select>     
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">직급</label>
    					<select class="custom-select" id="position" name="position">
                     		<option class="positionNameOption" th:each="position: ${positionList}" th:value="${position.detailCode}" th:utext="${position.detailCodeName}"></option>
                     	</select> 
                    </div>
                      
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" onclick="clickWithdrawBtn();">직원 탈퇴</button>
                    <button type="button" class="btn btn-primary" onclick="clickUpdateBtn();">수정</button>
                </div>
    
            </div>
        </div>
    </div>
  
</body>
</html>
