<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="manager/header">
</th:block>

<script src="/js/project/projectList.js"></script>

<link rel="stylesheet" href="/css/manager/attendance.css">
<link rel="stylesheet" href="/css/manager/employee.css">
<link rel="stylesheet" href="/css/manager/projectList.css">
<body>
 <section>
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link disabled" href="#">시스템</a>
            <hr>
            <a class="nav-link active" href="/commoncode/list">공통 코드 관리</a>
            <hr>
            <a class="nav-link disabled" href="#">근태</a>
            <hr>
            <a class="nav-link active " href="/attendance/list">근태 목록</a>
            <hr>
            <a class="nav-link disabled" href="#">직원</a>
            <hr>
            <a class="nav-link active" href="/employee/list">직원 목록</a>
            <hr>
			<a class="nav-link disabled" href="#">프로젝트</a>
            <hr>
			<a class="nav-link active" href="/project/list">프로젝트 목록</a>          
        </nav>
        
        <div class="card-div">
        
            <div class="card"  th:each="project : ${projectList}">
                <div class="card-header" th:utext="| ${project.projectNm}  ( ${project.startDate} ~ ${project.endDate} )|"></div>
                <div class="card-body">
                  <h5 class="card-title" th:if="${project.projectManagerNm} != null" th:text="|프로젝트매니저: ${project.projectManagerNm} |"></h5>
                  <h5 class="card-title" th:if="${project.projectManagerNm} == null">프로젝트매니저: 없음</h5>
                  <p class="card-text" th:text="${project.note}"></p>
                  <ul class="ulBtn">
                  	<li>
	                  <a th:href="@{/project/setting/view(projectId=${project.projectId})}" class="btn btn-primary managementBtn">관리</a>             	
                  	</li>
                  	<li>
	                  <a th:href="@{/project/setting/view(projectId=${project.projectId})}" class="btn btn-secondary deleteBtn">삭제</a>                  	
                  	</li>
                  </ul>
                </div>
            </div>
            
            <div class="card projectNull"  th:if="${projectList.size() == 0 }">
                <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">생성된 프로젝트가 없습니다.</h5>
                  <p class="card-text"></p>
                </div>
            </div>
    
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createProject">프로젝트 생성</button>
            <nav aria-label="Page navigation example" th:utext="${pageBar}">
        </div>
</section>
</body>
</html>


<div class="modal fade" id="createProject" data-backdrop="static"
	data-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="add-modal-label">프로젝트 생성</h5>

				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>

			<div class="modal-body member-modal-body ">
				<div class="mb-3">
					<label for="projectName" class="form-label">프로젝트 이름</label> 
					<input type="email" class="form-control" id="projectName" name="projectName" >
				</div>
				<div class="mb-3">
					<label for="projectManager" class="form-label">프로젝트 매니저</label>
					<input type="search" class="form-control" id="projectManager" name="projectManager">
					<input type="hidden" id="projectManagerEsntlId">
				</div>
				<div class="mb-3">
					<label for="startDate" class="form-label">프로젝트 시작일</label>
					<input type="date" class="form-control" id="startDate" name="startDate">
				</div>
				<div class="mb-3">
					<label for="endDate" class="form-label">프로젝트 종료일</label>
					<input type="date" class="form-control" id="endDate" name="endDate">
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					onclick="addProject();">생성</button>
			</div>

		</div>
	</div>
</div>
