    <section>
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link disabled" href="#">시스템</a>
            <hr>
            <a class="nav-link active" href="/commoncode/list">공통 코드 관리</a>
            <hr>
            <a class="nav-link disabled" href="#">근태</a>
            <hr>
            <a class="nav-link active " href="/attendance/list" >근태 목록</a>
            <hr>
            <a class="nav-link disabled" href="#">직원</a>
            <hr>
            <a class="nav-link active" href="/employee/list">직원 목록</a>
            <hr>
            <a class="nav-link disabled" href="#">프로젝트</a>
            <hr>
			<a class="nav-link active" href="/project/list">프로젝트 목록</a>          
        </nav>
    </section>
