@charset "UTF-8";

.card-div{
	margin-top: 50px;
}

.card{
    height: 200px;
    margin-bottom: 50px;
}

button{
	width: 150px;
	margin: 0 auto;
	margin-right: 150px;
}

.ulBtn{
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.ulBtn li{
	margin-left: 15px;
}

.projectNull{
	margin-bottom: 500px;
}