<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="mypage/header">
</th:block>

<link rel="stylesheet" href="/css/mypage/mypageUpdatePassword.css">

<script type="text/javascript" src="/js/mypage/updatePassword.js"></script>

    <section >
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link active" href="/member/mypage/update/view">개인정보수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/update/password/view">비밀번호수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/withdraw/view">회원탈퇴</a>
            <hr>
        </nav>
      
        <div class="content-div">
          <form action="" id="passwordUpdateForm">
            <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">새 비밀번호</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword">
                        <div id="newPasswordHelp" class="form-text help defaultHelp">(문자, 특수문자가 포함된 숫자의 조합, 최소 8자)</div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">비밀번호 확인</label>
                        <input type="password" class="form-control" name="checkPassword" id="checkPassword">
                        <div id="checkPasswordHelp" class="form-text help hide">비밀번호가 일치하지 않습니다.</div>
                      </div>
                    </td>
                  </tr>
          
                </tbody>
              </table>
              </form>
              <div class="button-div">
                <button type="button" class="btn btn-secondary" onclick="history.back();">취소</button>
                <button type="button" class="btn btn-primary passwordUpdateBtn justify-content-center">변경</button>
              </div>
        </div>
        
    </section>

</body>
</html>

<script>
 
var msg = '[[ ${msg} ]]';

if(msg != "" && msg != null ){
	alert(msg);
}

</script>
