<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="mypage/header">
</th:block>

<script type="text/javascript" src="/js/mypage/update.js"></script>

    <section>
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link active" href="/member/mypage/update/view">개인정보수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/update/password/view">비밀번호수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/withdraw/view">회원탈퇴</a>
            <hr>
        </nav>
        <form action="" id="updateForm" style="margin: 0 auto">
        <div class="content-div">
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">이메일</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="email" name="email" aria-describedby="emailHelp"  th:value="${member.email}" readonly>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">이름</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="name" name="name" aria-describedby="emailHelp" th:value="${member.name}">
                        <div id="nameHelp" class="form-text help hide">올바른 이름이 아닙니다.</div>
                      </div>
                    </td>
                  </tr>
                  
                  <tr>
                    <th scope="row">휴대번호</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="phone" name="phone" aria-describedby="emailHelp"  th:value="${member.phone}">
                        <div id="phoneHelp" class="form-text help hide">올바른 휴대번호가 아닙니다.</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">생년월일</th>
                    <td colspan="2">
						<div class="mb-3">
                        	<input type="date" class="form-control " id="birth" name="birth" aria-describedby="emailHelp"  th:value="${member.birth}">
                      	</div>
                    </td>
                  </tr>
					<tr>
						<th scope="row">주소</th>
						<td>
							<div class="mb-3">
								<div style="display: flex">
										<input type="text" class="form-control" id="zipCode"
											name="zipCode" style="width: 350px" placeholder="우편번호" th:value="${member.zipCode}">
										<button class="btn btn-outline-secondary" type="button"
											id="button-addon2" onclick="findZipCode();">우편번호 찾기</button>
								</div>
									<input type="text" class="form-control" id="address"
										name="address" placeholder="주소"
										style="margin-top: 5px; margin-bottom: 5px;" th:value="${member.address}"> 
									<input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="상세주소" th:value="${member.detailAddress}">
							</div>
						</td>
					</tr>
					<tr>
                    <th scope="row">부서</th>
                    <td>
                    	<div class="mb-3">
                     		<select class="custom-select" id="department" name="department">
                     			<option th:each="department: ${departmentList}" th:value="${department.detailCode}" th:utext="${department.detailCodeName}" th:selected="${department.detailCode==member.department}"></option>
                     		</select>                           
                    	</div>
                    </td>
                  </tr>
                  <tr>
                  <th scope="row">직급</th>
                    <td>
						<div class="mb-3">
                     		<select class="custom-select" id="position" name="position">
                     			<option  th:each="position: ${positionList}" th:value="${position.detailCode}" th:utext="${position.detailCodeName}" th:selected="${position.detailCode==member.position}"></option>
                     		</select>                           
                    	</div>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="button-div" style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="history.back();">취소</button>
                <button type="button" class="btn btn-primary justify-content-center btnUpdate">수정</button>
              </div>
        </div>
        </form>
    </section>

</body>
</html>
