<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정</title>
    <script src="https://kit.fontawesome.com/d37b4c8496.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/manager/attendance.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">

    <script type="text/javascript" src="/js/common/regExp.js"></script>    
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/js/mypage/update.js"></script>

</head>

<body>
    <header>
        <div class="header-container" style="width: 100%;">
            <i class="fas fa-arrow-left" onclick="history.back()"></i>
        </div>
    </header>

    <section>
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link active" href="/member/mypage/update/view">개인정보수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/update/password/view">비밀번호수정</a>
            <hr>
        </nav>
        <form action="" id="updateForm" style="margin: 0 auto">
        <div class="content-div">
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">이메일</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="email" name="email" aria-describedby="emailHelp"  th:value="${member.email}" readonly>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">이름</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="name" name="name" aria-describedby="emailHelp" th:value="${member.name}">
                        <div id="nameHelp" class="form-text help hide">올바른 이름이 아닙니다.</div>
                      </div>
                    </td>
                  </tr>
                  
                  <tr>
                    <th scope="row">휴대번호</th>
                    <td>
                      <div class="mb-3">
                        <input type="text" class="form-control " id="phone" name="phone" aria-describedby="emailHelp"  th:value="${member.phone}">
                        <div id="phoneHelp" class="form-text help hide">올바른 휴대번호가 아닙니다.</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">생년월일</th>
                    <td colspan="2">
						<div class="mb-3">
                        	<input type="date" class="form-control " id="birth" name="birth" aria-describedby="emailHelp"  th:value="${member.birth}">
                      	</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">부서</th>
                    <td>
                    	<div class="mb-3">
                     		<select class="custom-select" id="department" name="department">
                     			<option th:each="department: ${departmentList}" th:value="${department.detailCode}" th:utext="${department.detailCodeName}" th:selected="${department.detailCode==member.department}"></option>
                     		</select>                           
                    	</div>
                    </td>
                  </tr>
                  <tr>
                  <th scope="row">직급</th>
                    <td>
						<div class="mb-3">
                     		<select class="custom-select" id="position" name="position">
                     			<option  th:each="position: ${positionList}" th:value="${position.detailCode}" th:utext="${position.detailCodeName}" th:selected="${position.detailCode==member.position}"></option>
                     		</select>                           
                    	</div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="button-div" style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-secondary" onclick="history.back();">취소</button>
                <button type="button" class="btn btn-primary justify-content-center btnUpdate">수정</button>
              </div>
        </div>
        </form>
    </section>

</body>
</html>
