<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="mypage/header">
</th:block>

<th:block th:replace="common/toast">
</th:block>


<link rel="stylesheet" href="/css/mypage/mypageUpdatePassword.css">
    
<script type="text/javascript" src="/js/mypage/withdraw.js"></script>

    <section >
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link active" href="/member/mypage/update/view">개인정보수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/update/password/view">비밀번호수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/withdraw/view">회원탈퇴</a>
            <hr>
        </nav>
      
        <div class="content-div">

        	<div>
	        	<h3 style="text-align: center;">탈퇴사유</h3>
				<div class="form-check" th:each="reason : ${reasonList}"
					style="width: 570px; margin: 0 auto">
					<input class="form-check-input" type="radio" name="reason"
						th:value="${reason.detailCode}"
						th:id="${reason.detailCodeName}"
						onchange="radioCheck(this);"
						> 
						
					<label th:for="${reason.detailCodeName}" th:text="${reason.detailCodeName}"></label>
				</div>
				<input type="text" class="form-control" name="reasonInput" id="reasonInput" disabled="disabled">
			</div>
            <table class="table">
            	<h3 style="text-align: center; margin-top: 100px;">비밀번호 확인</h3>
                <tbody>
                <tr>
                    <td>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" name="password" id="password">
                      </div>
                    </td>
                  </tr>              
                </tbody>
              </table>
  
			<div class="button-div">
                <button type="button" class="btn btn-secondary" onclick="history.back();">취소</button>
                <button type="button" class="btn btn-primary passwordUpdateBtn justify-content-center" onclick="withdrawBtn();">탈퇴</button>
              </div>

        </div>
        
    </section>

</body>
</html>

<script>
 
var msg = '[[ ${msg} ]]';

if(msg != "" && msg != null ){
	alert(msg);
}

</script>
<style>
#reasonInput{
	width: 570px;
	margin: 0 auto;
	margin-top: 10px;
}

.table{
	margin-top: 0;
}
</style>