<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정</title>
    <script src="https://kit.fontawesome.com/d37b4c8496.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/manager/attendance.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <link rel="stylesheet" href="/css/mypage/mypageUpdatePassword.css">
    
    <script type="text/javascript" src="/js/common/regExp.js"></script>    
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/js/mypage/withdraw.js"></script>
    
</head>

<body>
    <header>
        <div class="header-container" style="width: 100%;">
            <i class="fas fa-arrow-left" onclick="location.href='/board/list'"></i>
            <i class="fas fa-home" onclick="location.href='/board/list'"></i>
        </div>
    </header>

    <section >
        <nav class="nav flex-column" style="background-color: rgb(243, 243, 243); width: 290px; height: 100vh; margin: 0; margin-top: 10px;">
            <a class="nav-link active" href="/member/mypage/update/view">개인정보수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/update/password/view">비밀번호수정</a>
            <hr>
            <a class="nav-link active" href="/member/mypage/withdraw/view">회원탈퇴</a>
            <hr>
        </nav>
      
        <div class="content-div">

        	<div>
	        	<h3 style="text-align: center;">탈퇴사유</h3>
				<div class="form-check" th:each="reason : ${reasonList}"
					style="width: 570px; margin: 0 auto">
					<input class="form-check-input" type="radio" name="reason"
						th:value="${reason.detailCode}"
						th:id="${reason.detailCodeName}"
						onchange="radioCheck(this);"
						> 
						
					<label th:for="${reason.detailCodeName}" th:text="${reason.detailCodeName}"></label>
				</div>
				<input type="text" class="form-control" name="reasonInput" id="reasonInput" disabled="disabled">
			</div>
            <table class="table">
            	<h3 style="text-align: center; margin-top: 100px;">비밀번호 확인</h3>
                <tbody>
                <tr>
                    <td>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" name="password" id="password">
                      </div>
                    </td>
                  </tr>              
                </tbody>
              </table>
  
			<div class="button-div">
                <button type="button" class="btn btn-secondary" onclick="history.back();">취소</button>
                <button type="button" class="btn btn-primary passwordUpdateBtn justify-content-center" onclick="withdrawBtn();">탈퇴</button>
              </div>

        </div>
        
    </section>

</body>
</html>

<script>
 
var msg = '[[ ${msg} ]]';

if(msg != "" && msg != null ){
	alert(msg);
}

</script>
<style>
#reasonInput{
	width: 570px;
	margin: 0 auto;
	margin-top: 10px;
}

.table{
	margin-top: 0;
}
</style>