<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:replace="common/addModal">
</th:block>

<th:block th:replace="common/header">
</th:block>

<th:block th:replace="common/toast">
</th:block>

<th:block th:replace="common/spaceCommonHeader">
</th:block>
		
<th:block th:replace="common/profile">
</th:block>

<link rel="stylesheet" href="/css/board/board.css">

<script src="/js/board/board.js"></script>

  <section>
    <div class="content-container">

      <figure>
        <figcaption>
        	<input type="hidden" th:value="${categoryMap.categoryNo}" id="categoryNo" />
        	<p th:if="${categoryMap.categoryNo} == 1" class="category-p">공지사항</p>
			<p th:if="${categoryMap.categoryNo} != 1" class="category-p"  th:text="${categoryMap.categoryName}" data-toggle="modal" data-target="#boardInfo" id="boardInfoTitle"></p>			
        </figcaption>
      </figure>
      
      <table class="table table-striped board-list-table">

        <thead>
          <tr>
            <th scope="col">게시글 번호</th>
            <th scope="col">작성자</th>
            <th scope="co1">제목</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>

        <tbody>
           <tr th:each="board : ${boardList}">
            <th scope="row" th:if="${board.topAt == 'TOP'}">공지</th>
            <input type="hidden"  th:if="${board.topAt == 'TOP'}" th:value="${board.boardNo}" />
            <th scope="row" th:if="${board.topAt == 'BOTTOM'}" th:text="${board.boardNo}" </th>
            <td th:text="${board.name}"></td>
            <td th:text="${board.boardTitle}" class="boardTitle" ></td>
            <td th:text="${board.boardView}"></td>
          </tr>
          <tr th:if="${boardList.size() == 0}">
            <th colspan="4" th:utext="${emptyMsg}"></th>
          </tr>
        </tbody>

      </table>

    </div>
    <nav aria-label="Page navigation example" th:utext="${pageBar}">
    </nav>

    <div class="d-md-flex justify-content-md-end" id="writeBtnDiv">
      <button type="button" class="btn btn-primary justify-content-md-end btn-board" data-toggle="modal" data-target="#write-board-modal">
        글쓰기
      </button>
    </div>

  </section>
</body>
</html>

<!-- 게시글 상세보기 Modal -->
<div class="modal fade" id="view-board-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
		<input type="hidden" th:value="${session.loginMember.email}" class="loginMemberEmail" />
      <div class="modal-header">
        <h5 class="modal-title boardDetailTitle" id="add-modal-label"></h5>

        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body member-modal-body boardDetailContent">
      	<div class="textDiv"></div>
        <ul class="file-download-ul">
        </ul>
      </div>
	
      <div class="modal-footer">
        <button type="button" class="btn btn-primary board-update-btn hidden">수정</button>
        <button type="button" class="btn btn-secondary boardDeleteBtn hidden">삭제</button>
        <p class="board-info-p"></p>
      </div>
    </div>
  </div>
</div>


<!-- 게시판 정보 Modal -->
<div class="modal fade" id="boardInfo" data-backdrop="static"
	data-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<input type="hidden" id="boardNo" />
			<div class="modal-header">
				<h5 class="modal-title" id="add-modal-label">게시판 정보</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body member-modal-body ">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active boardInfo"
						href="#" onclick="showBoardInfo();">정보</a></li>
					<li class="nav-item"><a class="nav-link boardMember" href="#"
						onclick="showBoardMember();">멤버 목록</a></li>
					<li class="nav-item"><a class="nav-link boardAddMember"
						href="#" onclick="showAddMember();">멤버 추가</a></li>
				</ul>

				<div class="list-group boardInfoDiv">
					<button type="button"
						class="list-group-item list-group-item-action"
						th:text="|생성자 : ${categoryMap.name}|"></button>
					<button type="button"
						class="list-group-item list-group-item-action"
						th:text="|만든 날짜 : ${categoryMap.frstRegistPnttm}|"></button>
					<button type="button"
						class="list-group-item list-group-item-action deleteMenu"
						th:if="${session.loginMember.esntlId} == ${categoryMap.esntlId}"
						onclick="deleteBoard();">게시판 삭제</button>
					<button type="button"
						class="list-group-item list-group-item-action deleteMenu"
						th:if="${session.loginMember.esntlId} != ${categoryMap.esntlId}"
						onclick="outBoard();">게시판 나가기</button>
				</div>

				<div class="boardMemberDiv" style="display: none">
					<ul class="list-group boardMemberUl">
					</ul>
				</div>

				<div class="boardAddMemberDiv" style="display: none">
					<ul class="list-group boardAddMemberUl">

					</ul>

					<button type="button" 
						class="btn btn-primary"
						id="fileAddBtn"
						onclick="addBoardMember();">추가</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 게시글 작성 Modal -->
<div class="modal fade" id="write-board-modal" data-backdrop="static"
	data-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<input type="hidden" id="boardNo" />
			<div class="modal-header">
				<h5 class="modal-title" id="add-modal-label">게시글 작성</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

				<div class="modal-body member-modal-body ">
					<div class="input-group titleDiv">
						<input type="input"
							class="form-control bg-light border-0 small title-input"
							id="boardTitle"
							list="datalistOptions" placeholder="제목을 입력하세요."
							aria-label="Search" aria-describedby="basic-addon2">
						<input type="hidden" th:value="${categoryMap.categoryNo}" id="categoryNo" />
						<div>
							<input class="form-check-input" type="checkbox" value="Y" id="noticeAt" name="noticeAt">
							<label class="form-check-label" for="noticeAt"> 공지사항 </label>
						</div>
					</div>
					
					<div id="editor" name="content" class="board-content-textarea"></div>

					<div class="modal-footer">
						<span>*파일은 최대 5개까지 첨부할 수 있습니다.</span>
						<div class="boardBtnDiv" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-info add-file-input">파일첨부추가</button>
							<button type="button" class="btn btn-primary boardBtn">글쓰기</button>
						</div>

						<div class='input-group input-file'>

							<div class='custom-file'>
								<label class='custom-file-label file1'> 파일을 첨부하세요. </label>
								<input	type='file' class='custom-file-input file-input' name='uploadFile'>
								<hr />
							</div>
							<div class='input-group-append'>
								<button class='btn btn-outline-secondary' type='button'
									id='inputGroupFileAddon04'>파일삭제</button>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<!-- toast editor -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

<script type="text/javascript">
const Editor = toastui.Editor;

var editor = new Editor({
	  el: document.querySelector('#editor'),
      initialEditType: "markdown",
      height: '350px',
	});
</script>
