<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.commoncode.mapper.CommonCodeMapper">

	<resultMap type="map" id="commonCode">
		<id column="CODE" property="code" />

		<result column="USE_AT" property="useAt" />
		<result column="CODE_NAME" property="codeName" />
	</resultMap>

	<resultMap type="map" id="detailCode">
		<id column="DETAIL_CODE" property="detailCode" />

		<result column="CODE" property="code" />
		<result column="USE_AT" property="useAt" />
		<result column="DETAIL_CODE_NAME" property="detailCodeName" />
		<result column="SORT_ORDR" property="sortOrdr"/>
	</resultMap>
	
	<insert id="insertCommonCode">
		/* CommonCodeMapper.insertCommonCode */
		
		INSERT INTO
			TB_COMMON_CODE
				(
					CODE,
					CODE_NAME,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					USE_AT		
				)
			VALUES
				(
					#{code},
					#{codeName},
					SYSDATE,
					#{email},
					SYSDATE,
					#{email},
					#{useAt}
				)
	</insert>
	
	<insert id="insertDetailCode">
		/* CommonCodeMapper.insertDetailCode */
		
		INSERT INTO
			TB_COMMON_CODE_DETAIL
				(
					DETAIL_CODE,
					CODE,
					DETAIL_CODE_NAME,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					USE_AT,
					SORT_ORDR
				)
			VALUES
				(
					#{detailCode},
					#{commonCode},
					#{detailCodeName},
					SYSDATE,
					#{email},
					SYSDATE,
					#{email},
					#{detailCodeUseAt},
					#{sortOrdr}
				)
	</insert>
	
	<select id="codeDuplicationCheck" resultType="int">
		/* CommonCodeMapper.codeDuplicationCheck */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE
		WHERE
			CODE  = #{code}
	</select>
	
	<select id="getTotalCommonCode" resultType="int">
		/* CommonCodeMapper.getTotalCommonCode */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE
	</select>
	
	<select id="selectCommonCodeList" resultMap="commonCode">
		/* CommonCodeMapper.selectCommonCodeList */
		
		SELECT
			CODE,
			CODE_NAME,
			USE_AT
		FROM
			TB_COMMON_CODE
		ORDER BY CODE
	</select>
	
	<select id="selectDetailCode" resultMap="detailCode">
		/* CommonCodeMapper.selectDetailCode */

		SELECT
			DETAIL_CODE,
			CODE,
			DETAIL_CODE_NAME,
			USE_AT,
			SORT_ORDR
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			CODE = #{code}
		ORDER BY SORT_ORDR, DETAIL_CODE	
	</select>
	
	<select id="getTotalDetailCode" resultType="int">
		/* CommonCodeMapper.getTotalDetailCode */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			CODE  = #{code}
	</select>
	
	<select id="selectOneDetailCode" resultMap="detailCode">
		/* CommonCodeMapper.selectOneDetailCode */
		
		SELECT
			CODE,
			DETAIL_CODE,
			DETAIL_CODE_NAME,
			SORT_ORDR,
			USE_AT
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			DETAIL_CODE = #{detailCode}
	</select>
	
	<select id="selectOneCommonCode" resultMap="commonCode">
		/* CommonCodeMappers.selectOneCommonCode */
		
		SELECT
			CODE_NAME,
			USE_AT
		FROM
			TB_COMMON_CODE
		WHERE
			CODE = #{code}
	</select>
	
	<select id="detailCodeDuplicatioCheck" resultType="int">
		/* CommonCodeMapper.detailCodeDuplicatioCheck */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			DETAIL_CODE = #{code}
	</select>
	
	<select id="selectCmmnCodeList" resultMap="detailCode">
		/* CommonCodeMapper.selectCmmnCodeList */
		
		SELECT
			A.CODE,
			A.CODE_NAME,
			B.DETAIL_CODE,
			B.DETAIL_CODE_NAME,
			B.SORT_ORDR
		FROM 
			TB_COMMON_CODE A 
			LEFT OUTER JOIN TB_COMMON_CODE_DETAIL B ON B.CODE = A.CODE
		WHERE
			A.USE_AT = 'Y'
			AND B.USE_AT = 'Y'
			AND A.CODE = #{searchCode}
		ORDER BY B.SORT_ORDR, A.CODE
	</select>
	
	<select id="countDetailCode" resultType="int">
		/* CommonCodeMapper.countDetailCode */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE_DETAIL A
			LEFT OUTER JOIN TB_COMMON_CODE B ON B.CODE = A.CODE
		WHERE
			B.CODE = #{code};	
	</select>
	
	<update id="updateCommonCode">
		/* CommonCodeMapper.updateCommonCode */
		
		UPDATE 
			TB_COMMON_CODE
		SET
			CODE_NAME = #{codeName},
			USE_AT = #{useAt},
			LAST_UPDT_PNTTM = SYSDATE,
			LAST_UPDUSR_ID = #{email}
		WHERE
			CODE = #{code}
	</update>
		
	<update id="updateDetailCode">
		/* CommonCodeMapper.updateDetailCode */
		
		UPDATE 
			TB_COMMON_CODE_DETAIL
		SET
			DETAIL_CODE_NAME = #{detailCodeName},
			SORT_ORDR = #{sortOrdr},
			USE_AT = #{detailCodeUseAt},
			LAST_UPDT_PNTTM = SYSDATE,
			LAST_UPDUSR_ID = #{email}
		WHERE
			DETAIL_CODE = #{detailCode}
	</update>
	
	<delete id="deleteCommonCode">
		/* CommonCodeMapper.deleteCommonCode */
		
		DELETE FROM
			TB_COMMON_CODE
		WHERE
			CODE = #{code}
	</delete>
	
	<delete id="deleteDetailCode">
		/* CommonCodeMapper.deleteDetailCode */
		
		DELETE FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			DETAIL_CODE = #{detailCode}		
	</delete>

</mapper>