<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="signup">
	
	<insert id="insertMember">
		/* signup.insertMember */
		
		INSERT INTO 
			TB_MEMBER
				(
					EMAIL,
					NAME,
					PHONE,
					BIRTH,
					PASSWORD,
					DEPARTMENT,
					POSITION,
					EMAIL_KEY,
					EMAIL_VERIFY_PNTTM,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					QUIT_AT,
					ROLE_CODE
				)
			VALUES
				(
					#{email},
					#{name},
					#{phone},
					#{birth},
					#{password},
					#{department},
					#{position},
					#{emillKey},
					null,
					sysdate,
					#{frstRegisterId},
					sysdate,
					#{lastUpdusrId},
					default,
					'MANAGER'
				)
	</insert>
	
	<select id="emailCheck" resultType="int">
		/* signup.emailCheck */
		
		SELECT
			COUNT(*)
		FROM
			TB_MEMBER
		WHERE
			EMAIL = #{email}
	</select>
	
	<update id="updateEmailVerify">
		/* signup.updateEmailVerify */
		
		UPDATE 
			TB_MEMBER
		SET
			EMAIL_VERIFY_PNTTM = SYSDATE
		WHERE
			EMAIL = #{email}
	</update>
	
</mapper>