@charset "UTF-8";
.content-div{
    width: 40%; 
    height: 450px; 
    margin: 0 auto; 
    margin-top: 70px; 
    border-radius: 3px; 

  }
  
  .table{
    width: 600px;
    border: none;
    margin-top: 150px;
  }
  
  tr, th, td{
    border: none !important;
  }
  
  .help{
    display: none;
  }
  
  .button-div button{
    margin-right: 50px;
  }