<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.category.chat.mapper.CategoryChatMapper">
	
	<resultMap type="map" id="chatRoomMap">
		<id column="chat_room_number" property="categoryNo"/>
		
		<result column="chat_room_title" property="categoryName"/>
		<result column="FRST_REGIST_PNTTM" property="frstRegistPnttm"/>
		<result column="FRST_REGISTER_ID" property="frstRegisterId"/>
		<result column="NAME" property="name"/>
	</resultMap>
	
	<insert id="insertCategoryChat">
		/* CategoryChatMapper.insertCategoryChat */
		
		INSERT INTO
			TB_CHAT_ROOM
				(
					CHAT_ROOM_NUMBER,
					CHAT_ROOM_TITLE,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT,
					PROJECT_ID
				)
			VALUES
				(
					SEQ_TB_CHAT_ROOM.NEXTVAL,
					#{title},
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N',
					#{projectId}
				)
		<selectKey resultType="_int" keyProperty="no" order="AFTER">
			SELECT
				SEQ_TB_CHAT_ROOM.CURRVAL
			FROM
				DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCategoryChatMember">
		/* CategoryChatMapper.insertCategoryChatMember */
		
		INSERT INTO
			TB_CHAT_USER
				(
					CHAT_ROOM_NUMBER,
					ESNTL_ID,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT
				) 
			VALUES
				(
					#{categoryNo},
					#{esntlId},					
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N'
				)
	</insert>
	
	<select id="getCategoryList" resultMap="chatRoomMap">
		/* CategoryChatMapper.getCategoryList */
		
		SELECT
			A.CHAT_ROOM_TITLE,
			A.CHAT_ROOM_NUMBER
		FROM 
			TB_CHAT_ROOM A
			LEFT OUTER JOIN TB_CHAT_USER B ON B.CHAT_ROOM_NUMBER = A.CHAT_ROOM_NUMBER
		WHERE
			B.ESNTL_ID = #{esntlId}	
			AND A.DELETE_AT = 'N'
			AND B.DELETE_AT = 'N'
	</select>
	
	<select id="getChatRoom" resultMap="chatRoomMap">
		/* CategoryChatMapper.getChatRoomName */

		SELECT
			A.CHAT_ROOM_NUMBER,
			A.CHAT_ROOM_TITLE,
			A.FRST_REGIST_PNTTM,
			A.FRST_REGISTER_ID,
			B.NAME
		FROM
			TB_CHAT_ROOM A
			LEFT OUTER JOIN TB_MEMBER B ON B.ESNTL_ID = A.FRST_REGISTER_ID
		WHERE
			CHAT_ROOM_NUMBER = #{category}		
	</select>
	
	<select id="getMemberListToInvite" resultType="memberVO">
		/* CategoryChatMapper.getMemberListToInvite */
			
		SELECT
			C.NAME,
			C.EMAIL,
			C.ESNTL_ID
		FROM
			TB_CHAT_ROOM A
			LEFT OUTER JOIN TB_PROJECT_USER B ON B.PROJECT_ID  = A.PROJECT_ID
			LEFT OUTER JOIN TB_MEMBER C ON C.ESNTL_ID = B.ESNTL_ID
		WHERE
			A.CHAT_ROOM_NUMBER = #{categoryNo}
		MINUS
		SELECT
			B.NAME,
			B.EMAIL,
			B.ESNTL_ID
		FROM
			TB_CHAT_USER A
			LEFT OUTER JOIN TB_MEMBER B ON B.ESNTL_ID = A.ESNTL_ID 
		WHERE
			A.CHAT_ROOM_NUMBER = #{categoryNo}			
	</select>
	
	
	<update id="deleteChatRoom">
		/* CategoryChatMapper.deleteChatRoom */
		
		UPDATE
			TB_CHAT_ROOM
		SET
			DELETE_AT = 'Y',
			LAST_UPDUSR_ID = #{loginEsntlId},
			LAST_UPDT_PNTTM = SYSDATE
		WHERE
			CHAT_ROOM_NUMBER = #{category}	
	</update>
	
	<delete id="outChatRoom">
		/* CategoryChatMapper.outChatRoom */
		
		DELETE FROM
			TB_CHAT_USER
		WHERE
			ESNTL_ID = #{esntlId}
			AND CHAT_ROOM_NUMBER = #{category}					
	</delete>
	

	
</mapper>