<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.category.mapper.CategoryMapper">
		
	<resultMap type="map" id="categoryMap">
		<id column="category_no" property="categoryNo"/>
		
		<result column="category_name" property="categoryName"/>
		<result column="name" property="name"/>
		<result column="FRST_REGIST_PNTTM" property="frstRegistPnttm"/>
		<result column="FRST_REGISTER_ID" property="frstRegisterId"/>
		<result column="ESNTL_ID" property="esntlId"/>
		<result column="PROJECT_ID" property="projectId"/>
		<result column="PROJECT_NM" property="projectNm"/>
	</resultMap>
	
	<insert id="insertCategoryBoard">
		/* CategoryMapper.insertCategoryBoard */
		
		INSERT INTO 
			TB_CATEGORY
				(
					CATEGORY_NO,
					CATEGORY_NAME,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT,
					PROJECT_ID
				)
			VALUES
				(
					SEQ_TB_CATEGORY.NEXTVAL,
					#{title},
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N',
					#{projectId}
				)
		<selectKey resultType="_int" keyProperty="no" order="AFTER">
			SELECT
				SEQ_TB_CATEGORY.CURRVAL
			FROM
				DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCategoryBoardMember">
		/* CategoryMapper.insertCategoryBoardMember */
		
		INSERT INTO
			TB_CATEGORY_USER
				(
					ESNTL_ID,
					CATEGORY_NO,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT
				)
			VALUES
				(
					#{esntlId},
					#{categoryNo},
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N'
				)
	</insert>

	<select id="getCategoryList" resultMap="categoryMap">
		/* CategoryMapper.getCategoryList */
		
		 SELECT
		 	A.CATEGORY_NAME,
		 	A.CATEGORY_NO
		FROM 
			TB_CATEGORY A
			LEFT OUTER JOIN TB_CATEGORY_USER B ON B.CATEGORY_NO = A.CATEGORY_NO
		WHERE 
			B.ESNTL_ID = #{esntlId}	
			AND A.DELETE_AT = 'N'
	</select>
	
	<select id="getCategory" resultMap="categoryMap">
		/* CategoryMapper.getCategoryName */
		
		SELECT
			A.CATEGORY_NO,
			A.CATEGORY_NAME,
			A.FRST_REGIST_PNTTM,
			B.NAME,
			B.ESNTL_ID,
			A.FRST_REGISTER_ID,
			A.PROJECT_ID,
			C.PROJECT_NM
		FROM
			TB_CATEGORY A
			LEFT OUTER JOIN TB_MEMBER B ON B.ESNTL_ID =  A.FRST_REGISTER_ID
			LEFT OUTER JOIN TB_PROJECT C ON C.PROJECT_ID = A.PROJECT_ID
		WHERE
			CATEGORY_NO = #{categoryNo}
			AND A.DELETE_AT = 'N'
	</select>
	
	<select id="getMemberListToInvite" resultType="memberVO">
		/* CategoryMapper.getMemberListToInvite */
		
		SELECT
			C.NAME,
			C.EMAIL,
			C.ESNTL_ID
		FROM
			TB_CATEGORY A
			LEFT OUTER JOIN TB_PROJECT_USER B ON B.PROJECT_ID  = A.PROJECT_ID
			LEFT OUTER JOIN TB_MEMBER C ON C.ESNTL_ID = B.ESNTL_ID
		WHERE
			A.CATEGORY_NO = #{categoryNo}
		MINUS
		SELECT
			B.NAME,
			B.EMAIL,
			B.ESNTL_ID
		FROM
			TB_CATEGORY_USER A
			LEFT OUTER JOIN TB_MEMBER B ON B.ESNTL_ID = A.ESNTL_ID 
		WHERE
			A.CATEGORY_NO = #{categoryNo}
	</select>
	
	<update id="deleteCategoryBoard">
		/* CategoryMapper.deleteCategoryBoard */
		
		UPDATE
			TB_CATEGORY
		SET
			DELETE_AT = 'Y',
			LAST_UPDT_PNTTM = SYSDATE,
			LAST_UPDUSR_ID = #{loginEsntlId}
		WHERE
			CATEGORY_NO = #{categoryNo}
	</update>
	
	<delete id="outBoard">
		/* CategoryMapper.outBoard */
		
		DELETE FROM
			TB_CATEGORY_USER
		WHERE
			CATEGORY_NO = #{categoryNo}
			AND ESNTL_ID = #{esntlId}
	</delete>

</mapper>