<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.category.board.mapper.CategoryBoardMapper">
		
	<resultMap type="map" id="categoryMap">
		<id column="category_no" property="categoryNo"/>
		
		<result column="category_name" property="categoryName"/>
	</resultMap>
	
	<insert id="insertCategoryBoard">
		/* CategoryBoardMapper.insertCategoryBoard */
		
		INSERT INTO 
			TB_CATEGORY
				(
					CATEGORY_NO,
					CATEGORY_NAME,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT,
					PROJECT_ID
				)
			VALUES
				(
					SEQ_TB_CATEGORY.NEXTVAL,
					#{title},
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N',
					#{projectId}
				)
		<selectKey resultType="_int" keyProperty="no" order="AFTER">
			SELECT
				SEQ_TB_CATEGORY.CURRVAL
			FROM
				DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCategoryBoardUser">
		/* CategoryBoardMapper.insertCategoryBoardUser */
		
		INSERT INTO
			TB_CATEGORY_USER
				(
					ESNTL_ID,
					CATEGORY_NO,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					DELETE_AT
				)
			VALUES
				(
					#{esntlId},
					#{categoryNo},
					SYSDATE,
					#{loginEsntlId},
					SYSDATE,
					#{loginEsntlId},
					'N'
				)
	</insert>

	<select id="getCategoryList" resultMap="categoryMap">
		/* CategoryBoardMapper.getCategoryList */
		
		 SELECT
		 	A.CATEGORY_NAME,
		 	A.CATEGORY_NO
		FROM 
			TB_CATEGORY A
			LEFT OUTER JOIN TB_CATEGORY_USER B ON B.CATEGORY_NO = A.CATEGORY_NO
		WHERE 
			B.ESNTL_ID = #{esntlId}	
			AND A.DELETE_AT = 'N'
	</select>
	
	<select id="getCategory" resultMap="categoryMap">
		/* CategoryBoardMapper.getCategoryName */
		
		SELECT
			CATEGORY_NO,
			CATEGORY_NAME
		FROM
			TB_CATEGORY
		WHERE
			CATEGORY_NO = #{categoryNo}
			AND DELETE_AT = 'N'
	</select>
	
	<update id="deleteCategoryBoard">
		/* CategoryBoardMapper.deleteCategoryBoard */
		
		UPDATE
			TB_CATEGORY
		SET
			DELETE_AT = 'Y'
		WHERE
			CATEGORY_NO = #{categoryNo}
			AND FRST_REGISTER_ID = #{email}
	</update>

</mapper>