<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonCode">

	<resultMap type="map" id="commonCode">
		<id column="CODE" property="code" />

		<result column="USE_AT" property="useAt" />
		<result column="CODE_NAME" property="codeName" />
	</resultMap>

	<resultMap type="map" id="detailCode">
		<id column="DETAIL_CODE" property="detailCode" />

		<result column="CODE" property="code" />
		<result column="USE_AT" property="useAt" />
		<result column="DETAIL_CODE_NAME" property="detailCodeName" />
		<result column="SORT_ORDR" property="sortOrdr"/>
	</resultMap>
	
	<insert id="insertCommonCode">
		/* commonCode.insertCommonCode */
		
		INSERT INTO
			TB_COMMON_CODE
				(
					CODE,
					CODE_NAME,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					USE_AT		
				)
			VALUES
				(
					#{code},
					#{codeName},
					SYSDATE,
					#{email},
					SYSDATE,
					#{email},
					'Y'
				);
	</insert>
	
	<insert id="insertDetailCode">
		/* commonCode.insertDetailCode */
		
	</insert>
	
	<select id="codeDuplicationCheck" resultType="int">
		/* commonCode.codeDuplicationCheck */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE
		WHERE
			CODE  = #{code}
	</select>
	
	<select id="getTotalCommonCode" resultType="int">
		/* commonCode.getTotalCommonCode */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE
	</select>
	
	<select id="selectCommonCodeList" resultMap="commonCode">
		/* commonCode.selectCommonCodeList */
		
		SELECT
			CODE,
			CODE_NAME,
			USE_AT
		FROM
			TB_COMMON_CODE
		ORDER BY CODE
	</select>
	
	<select id="selectDetailCode" resultMap="detailCode">
		/* commonCode.selectDetailCode */

		SELECT
			DETAIL_CODE,
			CODE,
			DETAIL_CODE_NAME,
			USE_AT,
			SORT_ORDR
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			CODE = #{code}
		ORDER BY SORT_ORDR, DETAIL_CODE	
	</select>
	
	<select id="getTotalDetailCode" resultType="int">
		/* commonCode.getTotalDetailCode */
		
		SELECT
			COUNT(*)
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			CODE  = #{code}
	</select>
	
	<select id="selectOneDetailCode" resultMap="detailCode">
		/* commonCode.selectOneDetailCode */
		
		SELECT
			CODE,
			DETAIL_CODE,
			DETAIL_CODE_NAME,
			SORT_ORDR,
			USE_AT
		FROM
			TB_COMMON_CODE_DETAIL
		WHERE
			DETAIL_CODE = #{detailCode}
	</select>
	
	<update id="updateCommonCode">
		/* commonCode.updateCommonCode */
		
		UPDATE 
			TB_COMMON_CODE
		SET
			CODE_NAME = #{codeName},
			USE_AT = #{useAt},
			LAST_UPDT_PNTTM = SYSDATE,
			LAST_UPDUSR_ID = #{email}
		WHERE
			CODE = #{code}
	</update>
	
	<update id="deleteCommonCode">
		/* commonCode.deleteCommonCode */
		
		UPDATE
			TB_COMMON_CODE
		SET
			USE_AT = 'N',
			LAST_UPDT_PNTTM = SYSDATE,
			LAST_UPDUSR_ID = #{email}
		WHERE
			CODE = #{code}
	</update>
	

</mapper>