<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.chat.mapper.ChatMapper">
	
	<select id="getChatMemberList" resultType="memberVO">
		/* ChatMapper.getChatMemberList */
		
		SELECT
			A.EMAIL,
			A.NAME,
			A.ESNTL_ID,
			A.DEPARTMENT,
					(
						SELECT
							DETAIL_CODE_NAME
						FROM
							TB_COMMON_CODE_DETAIL
						WHERE
							DETAIL_CODE = A.DEPARTMENT
							
					 ) AS DEPARTMENT_NAME,
			A.POSITION,
					(
						SELECT
							DETAIL_CODE_NAME
						FROM
							TB_COMMON_CODE_DETAIL
						WHERE
							DETAIL_CODE = A.POSITION
							
					 ) AS POSITION_NAME
		FROM 
			TB_MEMBER A
			LEFT OUTER JOIN TB_CHAT_USER B ON  B.ESNTL_ID = A.ESNTL_ID
		WHERE
			B.CHAT_ROOM_NUMBER = #{categoryNo}
			AND B.DELETE_AT = 'N'		
	</select>


</mapper>