<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.chat.mapper.ChatMapper">
	
	<insert id="insertChat">
		/* ChatMapper.insertChat */
		
		INSERT INTO
			TB_CHAT
				(
					CHAT_ROOM_NUMBER,
					NAME,
					EMAIL,
					TIME,
					CONTENT,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID
				)
			VALUES
				(
					#{chatRoomNumber},
					#{name},
					#{email},
					TO_TIMESTAMP(#{time}, 'YYYY-MM-DD HH24:MI:SS'),
					#{content},
					SYSDATE,
					#{email},
					SYSDATE,
					#{email}
				)
	</insert>

	<select id="selectChatList" resultType="chatVO">
		/* ChatMapper.selectChatList */
		
		SELECT
			NAME,
			EMAIL,
			TIME,
			CONTENT
		FROM
			TB_CHAT
		WHERE
			CHAT_ROOM_NUMBER = #{chatRoomNumber}
		ORDER BY
			TIME		
	</select>
	
	<select id="getChatMemberList" resultType="memberVO">
		/* ChatMapper.getChatMemberList */
		
		SELECT
			A.EMAIL,
			A.NAME,
			A.ESNTL_ID,
			A.DEPARTMENT,
					(
						SELECT
							DETAIL_CODE_NAME
						FROM
							TB_COMMON_CODE_DETAIL
						WHERE
							DETAIL_CODE = A.DEPARTMENT
							
					 ) AS DEPARTMENT_NAME,
			A.POSITION,
					(
						SELECT
							DETAIL_CODE_NAME
						FROM
							TB_COMMON_CODE_DETAIL
						WHERE
							DETAIL_CODE = A.POSITION
							
					 ) AS POSITION_NAME
		FROM 
			TB_MEMBER A
			LEFT OUTER JOIN TB_CHAT_USER B ON  B.ESNTL_ID = A.ESNTL_ID
		WHERE
			B.CHAT_ROOM_NUMBER = #{categoryNo}
			AND B.DELETE_AT = 'N'		
	</select>
	


</mapper>