<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.home.mapper.HomeMapper">

	<insert id="insertMember">
		/* HomeMapper.insertMember */
		
		INSERT INTO 
			TB_MEMBER
				(
					EMAIL,
					NAME,
					PHONE,
					BIRTH,
					PASSWORD,
					DEPARTMENT,
					POSITION,
					EMAIL_KEY,
					EMAIL_VERIFY_PNTTM,
					FRST_REGIST_PNTTM,
					FRST_REGISTER_ID,
					LAST_UPDT_PNTTM,
					LAST_UPDUSR_ID,
					QUIT_AT,
					ROLE_CODE
				)
			VALUES
				(
					#{email},
					#{name},
					#{phone},
					#{birth},
					#{password},
					#{department},
					#{position},
					#{emillKey},
					null,
					sysdate,
					#{frstRegisterId},
					sysdate,
					#{lastUpdusrId},
					default,
					'MANAGER'
				)
	</insert>
	
	<select id="emailCheck" resultType="int">
		/* HomeMapper.emailCheck */
		
		SELECT
			COUNT(*)
		FROM
			TB_MEMBER
		WHERE
			EMAIL = #{email}
	</select>
	
	<select id="selectOneMember" resultType="memberVO">
		/* HomeMapper.selecOneMember */

		SELECT
			A.EMAIL,
			A.NAME,
			A.PHONE,
			A.BIRTH,
			A.PASSWORD,
			A.DEPARTMENT,
			(
				SELECT
					DETAIL_CODE_NAME
				FROM
					TB_COMMON_CODE_DETAIL
				WHERE
					DETAIL_CODE = A.DEPARTMENT
					
			 ) AS DEPARTMENT_NAME,
			A.POSITION,
			(
				SELECT
					DETAIL_CODE_NAME
				FROM
					TB_COMMON_CODE_DETAIL
				WHERE
					DETAIL_CODE = A.POSITION
					
			 ) AS POSITION_NAME,
			A.EMAIL_KEY,
			A.EMAIL_VERIFY_PNTTM,
			A.QUIT_AT,
			A.ROLE_CODE
		FROM
			TB_MEMBER A
		WHERE
			A.EMAIL = #{email}
			AND A.QUIT_AT = 'N'
	</select>
	
	<update id="updateEmailVerify">
		/* HomeMapper.updateEmailVerify */
		
		UPDATE 
			TB_MEMBER
		SET
			EMAIL_VERIFY_PNTTM = SYSDATE
		WHERE
			EMAIL = #{email}
	</update>

</mapper>