<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtex.tree.emailverify.mapper.EmailVerifyMapper">

    <select id="emailDuplicationCheck" resultType="int">
        /* EmailVerifyMapper.emailDuplicationCheck */

        SELECT
            COUNT(*)
        FROM
            TB_MEMBER
        WHERE
            EMAIL = #{email}
    </select>

    <update id="updateEmailVerify">
        /* EmailVerifyMapper.updateEmailVerify */

        UPDATE
            TB_MEMBER
        SET
            EMAIL_VERIFY_PNTTM = SYSDATE
        WHERE
            EMAIL = #{email}
    </update>

</mapper>