@charset "UTF-8";
body{
    height: 1700px;
}
section{
    width: 100%;
    height: 100vh;
    text-align: 0 auto;
}

.signup-div{
    margin: 0 auto;
    background-color: white; 
    width: 800px; 
    height: 1400px;
    text-align: center;
    margin-top: 90px;
    
    border-radius: 50px;
}

form{
    text-align: left;
    padding: 50px;
    padding-bottom: 40px;
}

.form-control{
    height: 45px;
}

.signup-title{
    padding-top: 20px;
    font-weight: 700;
}


.btn-primary{
    height: 50px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}

.help{ 
    color: red;
}

.hide{
	display:none;
}

.btn-primary{
    width: 150px;
}

p{
    font-size: 18px;
    position: relative;
    bottom: 0;
    color: rgb(75, 72, 72);
    font-weight:400;
    margin-left: 90px;
    margin-top: 80px;
    text-align: left;
}

#email-help{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#emailDiv{
	display: flex; 
	justify-content: space-around;
}

#email{
	margin-right: 5px;
}

#domain{
	height: 46px; 
	margin-left: 5px
}

#zipCodeDiv{
	display: flex; 
}

#zipCode{
	width: 350px;
}

#address{
	margin-top: 5px;
	margin-bottom: 5px;
}