<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base/head :: common_header(~{::title}, ~{::link}, ~{::script})" >
    <title>이메일 인증</title>
    <link rel="stylesheet" href="/css/home/emailVerify.css">
    <script></script>
</head>

<th:block th:replace="layout/home/header">
</th:block>

    <p class="home-p">
        아래 버튼을 클릭하여
        <br>
        회원가입을 완료해 주세요.
    </p>
    <p class="small-p">*아래 버튼을 누르면 로그인 페이지로 이동됩니다.</p>
    <form method="POST" action="/email/verify">
    	<input type="hidden" th:name="key" th:value="${key}" />
    	<input type="hidden" th:name="email" th:value="${email}" />
	    <button type="submit" class="btn btn-light">인증</button>
    </form>

</body>
</html>