<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="home/header">
</th:block>

<link rel="stylesheet" href="/css/home/signup.css">
<link rel="stylesheet" href="/css/home/login.css">
<link rel="stylesheet" href="/css/home/findPassword.css">

<script type="text/javascript" src="/js/common/regExp.js"></script>

<body>
    <section>
        <div class="signup-div" id="login-div">
            <h4 class="signup-title">비밀번호 찾기</h4>
            <form method="POST" class="login-form" id="loginForm" name="loginForm">
                <div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">이메일</label>
                <div class="form-row" style="display: flex;">
                  <div class="col-md-12 mb-3" style="display: flex; justify-content: space-around;">
                      <input type="email" class="form-control" style="margin-right: 5px;" id="email" name="email" onchange="checkEmail();">
                      <span>@</span>
                      <select class="custom-select domain" style= "height: 46px; margin-left: 5px;" name="domain">
                        <option value="@gmail.com">gmail.com</option>
                        <option value="@naver.com">naver.com</option>
                        <option value="@hanmail.net">hanmail.net</option>
                        <option value="">직접 입력</option>
                      </select>
                  </div>
                  <div id="email-help" class="form-text help hide">올바른 이메일이 아닙니다.</div>

                </div>
            </form>
        </div>
		<button type="submit" class="btn btn-primary" onclick="findPassword();">이메일 전송</button>
    </section>
    
</body>
</html>
<script>
 
var msg = '[[ ${msg} ]]';
console.log(msg);
if(msg != "" && msg != null ){
	alert(msg);
}

</script>