<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="home/header">
</th:block>

<link rel="stylesheet" href="/css/home/signup.css">
	
<script type="text/javascript" src="/js/home/signup.js"></script>
<script type="text/javascript" src="/js/common/regExp.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<body>
    <section>
        <div class="signup-div">
            <h4 class="signup-title">회원 가입</h4>
            <form method="POST" action="/signupAction" id="signup-form">
                <label for="exampleInputPassword1" class="form-label">이메일</label>
                <div class="form-row">
                  <div id="emailDiv" class="col-md-12 mb-3">
                      <input type="email" class="form-control" id="email" name="email">
                      <span>@</span>
                      <select class="custom-select domain" name="domain" id="domain">
                        <option th:each="email: ${emailList}" th:value="${email.detailCode}"
						th:utext="${email.detailCodeName}" ></option>
                        <option value="">직접 입력</option>
                      </select>
                  </div>
                  <div id="email-help" class="form-text help hide">올바른 이메일이 아닙니다.</div>

                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">이름</label>
                  <input type="text" class="form-control" id="name" name="name">
                  <div id="name-help" class="form-text help hide">올바른 이름이 아닙니다.</div>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">휴대폰 번호</label>
                  <input type="phone" class="form-control" id="phone" name="phone">
                  <div id="phone-help" class="form-text help hide">올바른 번호가 아닙니다.</div>
                </div>
                <div class="mb-3">
                  <label for="birth" class="form-label">생년월일</label>
                  <input type="date" class="form-control" id="birth" name="birth" onkeydown="return false">
                </div>
                
				<div class="mb-3" >
                  <label for="phone" class="form-label">주소</label>
                  <div id="zipCodeDiv">
	                  <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="우편번호">
	                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="findZipCode();">우편번호 찾기</button>
                  </div>
	              <input type="text" class="form-control" id="address" name="address" placeholder="주소">
	              <input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="상세주소">
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">비밀 번호</label>
                  <input type="password" class="form-control" id="password" name="password">
                  <div id="password-help" class="form-text">(문자, 특수문자가 포함된 숫자의 조합, 최소 8자)</div>
                </div>
                <div class="mb-3">
                  <label for="password-check" class="form-label">비밀 번호 확인</label>
                  <input type="password" class="form-control" id="password-check" name="password-check">
                  <div id="password-check-help" class="form-text help hide">비밀번호기 일치하지 않습니다.</div>
                </div>

                <div class="mb-3">
                    <label for="department" class="form-label">부서</label> 
                    <select class="custom-select" id="department" name="department">
						<option th:each="department: ${departmentList}" th:value="${department.detailCode}"
							th:utext="${department.detailCodeName}" ></option>
					</select>
				</div>

				<div class="mb-3">
					<label for="position" class="form-label">직급</label> 
					<select
						class="custom-select" id="position" name="position">
						<option th:each="position: ${positionList}" th:value="${position.detailCode}"
							th:utext="${position.detailCodeName}" ></option>
					</select>
				</div>

			</form>
            <button type="submit" class="btn btn-primary">이메일 인증하기</button>
            <p>
              *이메일 인증하기 버튼을 누르면 인증 이메일이 전송됩니다.
              <br>
              이메일 인증 후 회원가입이 완료됩니다.
            </p>

        </div>
    </section>
</body>
</html>